* {
margin: 0%;
padding: 0%;
border: 0;
}

header {
    display: flex;
    justify-content: center;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    padding: 0%;
    margin: auto;

}

.dropbtn {
    
    background-color:#9e0e29;
     color: #fff8fd;
    padding: 16px;
    font-size: 16px;
    border: 10px;
    border-color: #9f0f80;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9e0e29;
    min-width: 160px;
}

.dropdown-content a {
    color: #fff8fd;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
}

.dropdown-content a:hover {background-color: #9f0f80;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #9e0e29;}


/* ul{
    list-style-type: none;
    align-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9e0e29;
    height: 80px;
} */

li{
    float: inline-end;
    border-radius: 10% 10%;
    align-content: space-between;
}

li a {
    display: block;
    color: black;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 5%;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px;

    
}

li a:hover:not(.active) {
    background-color: #9e0e29;
}

.active {
    background-color: #fff8fd;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: "Hachi Maru Pop", serif;
}

div {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}

div img {
    
    width: 100px;
    height: 100px;
    border: 2px solid #9f0f80;
    border-radius: 13px;
    margin: 10px;
    transition: 400ms;
   
   }

/*-- containers for Truck Tracker and Plan ahead--*/

.box-1 {
    height: 10px;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    padding: 5%;
    margin: 5%;
    background-color: #9e0e29;
    border-radius: 0px;
}


.container {
    display: flex;
    align-content: space-around;
    margin:4%;
    padding: 4%;
    border: 0;
}

.box-2 {
    display: flex;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
    align-content: center;
    height:50px;
    width:200px;
    background-color: #9f0f80;
    border:solid #9e0e29; 
    margin: auto;

    
}

.box-3 {
    display: flex;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
    height: 50px;
    width:200px;
    background-color:#9f0f80;
    border:solid #9e0e29;
}

.box-4 {
    display: flex;
    
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
    height: 100px;
    width:200px;
    background-color:#9f0f80;
    border:solid #9e0e29;
}

.box-5 {
    display: flex;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
    height: 100px;
    width:200px;
    background-color:#9f0f80;
    border:solid #9e0e29;
}


footer {
display: flex;
background-color: #9e0e29;
}